body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#logo {
    color:#f9faf8;
    font-size: 24px;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

li {
    list-style-type: none;
}

header, .main-page {
    background-color: #1f2937;
}
/* navbar */

.navbar {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

#logo {
    margin-right: auto;
    margin-left: 100px;
}

.left-links {
    display: flex;
    gap: 20px;
    margin-right: 100px;
    align-items: center;
}

/* navbar end */

/* main-page */

.hero-txt {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: -10px;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.main-page {
    display: flex;
    justify-content: center;
    padding: 50px
}

.main-front {
    margin-right: 50px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}

.image {
    height: auto;
    width: 300px;
    margin-right: 70px;
}

button {
    display: flex;
    flex-direction: row;

    align-items: center;
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
}

.main-sign-button {
    font-weight: bold;
    border: transparent;
    padding: 10px 40px;
    font-size: large;
}

/* main-page end*/

/* info page */

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ill-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 50px;
}

.illustration {
    display: flex;
    justify-content: center;
    padding: 0px 50px 50px 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.ill-text{
    font-size: 18px;
    color: rgb(85, 85, 85);
}

.ill-img {
    height: 100px;
    width: 100px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}


/* info page end */

/* quote */

.quote {
    display: flex;
    flex-direction: column;
    padding: 150px 150px 100px 150px;
    background-color: #e5e7eb;
}

.main-quote-text {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

.quote-auth {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
}

/* quote */

/* signup */

.signup {
    display: flex;
    justify-content: center;
    padding: 100px;
    
}

.sign-block {
    padding: 100px;
    background-color:#3882f6;
    display: flex;
    gap: 80px;
    border-radius: 10px;
}

.sign-text-block {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.sign-text-bold {
    font-weight: 900;
    font-size: 25px;
    color: #ffffff;
}

.sign-text {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-button {
    font-weight: bold;
    border: transparent;
    padding: 10px 40px;
    font-size: large;    
    border: solid #ffffff;
    border-radius: 8px;
    white-space: nowrap;
}

.button-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* signup */
