body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

#logo {
    color:#f9faf8;
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

li {
    list-style-type: none;
}

header {
    background-color: #1f2937;
}

/* alignment after here */

/* navbar */

.navbar {
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

#logo {
    margin-right: auto;
    margin-left: 200px;
}

.left-links {
    display: flex;
    gap: 20px;
    margin-right: 200px;
}

/* navbar */

